@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --red-brand: #f5333f;
}

@layer components {
  .container {
    @apply w-[100%] px-[20px] sm:px-[20px] md:px-[40px] lg:px-[40px] xl:px-[62px];
  }
}
